body {
  background-color: #b9e6d3;
  margin: 0px;
  text-align: center;
  font-family: Merriweather, serif;
}

.header {
  background-color: #ef6c57;
  padding-top: 50px;
  margin: 0;
  position: relative;
}

h1 {
  padding: 0;
  margin: 0;
  display: inline;
  font-family: Sacramento, cursive;
  font-size: 8rem;


}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  position: relative;
  bottom: 80px;
}

.skill-row{
  width: 50%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 100px;
  line-height: 2;
  text-align: left;
}

.footer {
  background-color: #535962;
  padding-top: 10px;
}






hr {
  border-style: dotted none none;
  background-color: none;
  border-width: 10px;
  border-color: grey;
  width: 80%;
}

p {
  margin: 0;
}

.img-size-1 {
  width: 200px;
  float: left;
  padding-right: 100px;
}

.img-size-2 {
  width: 200px;
  float: right;
  padding-left: 100px;
}

.float-left{
  float: left;
  padding-left: 40px;
  height: 200px;
}

.float-right{
  float: right;
  padding-right: 40px;
  height: 200px;
}
